.Card {
  background-color: #0d0d0dd9;
  height: 6rem;
  width: 20rem;
  padding: 10px 10px 10px 10px;
  margin: 5px 1px 5px 1px;
  display: grid;
  grid-template-columns: 9rem 1fr;
  grid-row: 1fr;
}
.Card:hover {
  border: solid 1px #a5a6a4;
  margin: 4px 0 4px 0;
  box-shadow: 5px 5px #a5a6a4, -0.9em 0 2em #40403f75;
}

.Img {
  grid-column: 1/2;
  grid-row: 1/2;
  display: block;
  margin: auto 0 auto 0.5rem;
  height: 5rem;
  width: 7rem;
}

.Box {
  color: #f1f2f0;
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  align-content: space-evenly;
  padding-left: 1rem;
  border-left: 1px solid #f1f2f0;
}
